fastapi
uvicorn
python-multipart
torch
silero-vad
ffmpeg-python
colorlog
numpy
websockets
scipy
soundfile
opencv-python
faster-whisper
spacy
torchcodec
pytest
platformdirs
pytest-asyncio
pytest-httpx
httpx
psutil
